
.body{
    background-color: white ;
}
.file-upload {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #D8A7B1;
    border-radius: 4px;
    background-color: grey;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.file-upload:hover {
    background-color: #e0e0e0;
}

/* Hide input[type=file] */
input[type="file"] {
    display: none;
}

/* Center Form */
#content {
    width: 95%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ccc; /* Kotak */
    padding: 20px; /* Ruang di dalam kotak */
    background-color: #D3BBDD;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #D8A7B1;
}

/* Styling for fieldset */
fieldset {
    border: 1px solid #D8A7B1;
    padding: 10px;
    margin-top: 20px;
}

legend {
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
