*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #D3BBDD;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: #000000;
}
nav{
    float:left;
    width:30%;
    background: #D8A7B1;
    padding: 20px;
    margin-bottom: 20px; /* Menambah margin bottom untuk mendorong artikel ke atas */
}
nav img {
    width: 100%; /* Mengatur lebar gambar agar mengikuti lebar nav */
    height: auto; /* Mengatur tinggi gambar agar mengikuti rasio aspek */
}
nav ul{
    list-style-type: none;
    padding: 0;
}
article{
    float:left;
    padding:0px;
    width:100%;
    background-color: white;
    height: 465px;
    font-size: 20px;
    text-align: justify;
    font-family: 'Times New Roman';
    font-style: initial;
}
section::after{
    content: "";
    display: table;
    clear: both;

}
.profil-img {
    width: 215px; /* Atur lebar gambar sesuai kebutuhan */
    height: auto; /* Biarkan tinggi otomatis sesuai rasio aspek */
    float: right; /* Posisikan gambar di sebelah kiri teks */
    margin-right: 0px; /* Tambahkan margin kanan agar tulisan tidak berdekatan dengan gambar */
    margin-bottom: 0px; /* Tambahkan margin bawah agar tulisan tidak berdekatan dengan gambar */
}

footer{
    background-color:#D3BBDD;
    padding: 10px;
    text-align: center;
    color: black;
}
@media (max-width:600px){
    nav,article{
        width: 100px;
        height: auto;
    }
}